<a href="https://colab.research.google.com/github/sonnyboy-kor/sonny/blob/main/21507__7%EC%A3%BC%EC%B0%A8_%EC%88%98%EC%97%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x = int(input('값 입력 : '))

값 입력 : ㅇ

ValueError: ignored

In [4]:
x = int(input('값 입력 : '))

if x % 2 == 0:
  print(f'{x}는 짝수')
else :
  print(f'{x}는 홀수')

값 입력 : 2
2는 짝수

In [7]:

x = int(input('값 입력 : '))

if x % 2 ==0:
  print(f'{x} : 짝수 ')
else:
  print(f'{x} : 홀수 ')

값 입력 : 5
5 : 홀수

In [8]:
x = float(input('성적입력 :'))

if x >= 70:
  print(f'{x} : Pass')
elif x >= 60 :
  print(f'{x} : 재시험 ')
else:
  print(f'{x} : fail ')

성적입력 :80
80.0 : Pass

In [10]:
str = '안녕하세요.'

'안' in str

SyntaxError: ignored

In [11]:
1 in [1,2,3]

True

In [12]:
str = '안녕하세요'

for item in str:
  print(item)

안
녕
하
세
요

In [14]:
list = [0,1,2,3,4]

# list = list(range(5))

for item in list:
  print(item)

0
1
2
3
4

In [16]:
d = {'a':1, 'b':2}

for item in d:
  print(item, end=' ')
print()
for item in d.values():
  print(item, end=' ')
print()
for key, value in d.items():
  print(key, value)

a b
1 2
a 1
b 2

In [17]:
for item in d.keys() :
  print(item)

a
b

In [21]:
xlist = range(10)
print(xlist)

for item in xlist:
  print(item, end=' ')

range(0, 10)
0 1 2 3 4 5 6 7 8 9

In [24]:
xlist = ['1','2']

xlist = [int(item) for item in xlist]

xlist

[1, 2]

In [ ]:
i = 0       # 시험문제

while i <= 5 :
  i = i + 1
  if i == 2 : continue
  
  print(i)

  if i == 4 : break