<a href="https://colab.research.google.com/github/sonnyboy-kor/sonny/blob/main/21507_11%EC%A3%BC%EC%B0%A8_%EC%8B%A4%EC%8A%B5_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
dates = pd.date_range('20210514', periods=6)
dates

DatetimeIndex(['2021-05-14', '2021-05-15', '2021-05-16', '2021-05-17',
               '2021-05-18', '2021-05-19'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2021-05-14  1.693242 -0.310344 -0.977955  1.685274
2021-05-15  1.357480 -1.417594 -0.066830 -1.352370
2021-05-16  1.192459 -1.231855  1.405878  0.561098
2021-05-17 -1.046467  0.265238  1.986820 -0.129706
2021-05-18  0.451657  1.389559  0.399248 -0.694432
2021-05-19  0.773622  1.347284 -0.006185  1.859487

In [13]:
df.mean()

A    0.736999
B    0.007048
C    0.456829
D    0.321559
dtype: float64

In [14]:
df.mean(0)

A    0.736999
B    0.007048
C    0.456829
D    0.321559
dtype: float64

In [15]:
df.mean(1)

2021-05-14    0.522554
2021-05-15   -0.369828
2021-05-16    0.481895
2021-05-17    0.268971
2021-05-18    0.386508
2021-05-19    0.993552
Freq: D, dtype: float64

In [16]:
df

                   A         B         C         D
2021-05-14  1.693242 -0.310344 -0.977955  1.685274
2021-05-15  1.357480 -1.417594 -0.066830 -1.352370
2021-05-16  1.192459 -1.231855  1.405878  0.561098
2021-05-17 -1.046467  0.265238  1.986820 -0.129706
2021-05-18  0.451657  1.389559  0.399248 -0.694432
2021-05-19  0.773622  1.347284 -0.006185  1.859487

In [17]:
print(df.apply(np.cumsum));print()

                   A         B         C         D
2021-05-14  1.693242 -0.310344 -0.977955  1.685274
2021-05-15  3.050723 -1.727938 -1.044784  0.332904
2021-05-16  4.243181 -2.959793  0.361094  0.894002
2021-05-17  3.196714 -2.694555  2.347914  0.764296
2021-05-18  3.648371 -1.304997  2.747162  0.069864
2021-05-19  4.421994  0.042287  2.740977  1.929351

In [18]:
df

                   A         B         C         D
2021-05-14  1.693242 -0.310344 -0.977955  1.685274
2021-05-15  1.357480 -1.417594 -0.066830 -1.352370
2021-05-16  1.192459 -1.231855  1.405878  0.561098
2021-05-17 -1.046467  0.265238  1.986820 -0.129706
2021-05-18  0.451657  1.389559  0.399248 -0.694432
2021-05-19  0.773622  1.347284 -0.006185  1.859487

In [19]:
df.apply(lambda x: x.max() - x.min(), axis=1)

2021-05-14    2.671197
2021-05-15    2.775074
2021-05-16    2.637733
2021-05-17    3.033287
2021-05-18    2.083991
2021-05-19    1.865671
Freq: D, dtype: float64

In [20]:
s = pd.Series(np.random.randint(1, 6, size = 6))
print(s.value_counts())

2    2
5    1
4    1
3    1
1    1
dtype: int64

In [21]:
df

                   A         B         C         D
2021-05-14  1.693242 -0.310344 -0.977955  1.685274
2021-05-15  1.357480 -1.417594 -0.066830 -1.352370
2021-05-16  1.192459 -1.231855  1.405878  0.561098
2021-05-17 -1.046467  0.265238  1.986820 -0.129706
2021-05-18  0.451657  1.389559  0.399248 -0.694432
2021-05-19  0.773622  1.347284 -0.006185  1.859487

In [23]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -0.091306  0.885377  0.745150  0.359158
1  0.277991  0.583457  0.681127 -1.155734
2 -0.871919  0.838060 -0.020036 -0.784737
3 -0.282330 -1.494801  0.028990 -1.265401
4 -0.458094  0.020163  0.201545 -0.799512
5  0.235027 -0.202665  0.703387  0.980585
6 -0.641566  0.870087  1.121847  1.100372
7  1.130579  0.948951  1.059073  1.963855
8  0.849526  0.480351  0.186353  0.134406
9 -0.088124  1.163911  1.187138 -1.008550

In [24]:
df[:3]

          0         1         2         3
0 -0.091306  0.885377  0.745150  0.359158
1  0.277991  0.583457  0.681127 -1.155734
2 -0.871919  0.838060 -0.020036 -0.784737

In [25]:
df[3:7]

          0         1         2         3
3 -0.282330 -1.494801  0.028990 -1.265401
4 -0.458094  0.020163  0.201545 -0.799512
5  0.235027 -0.202665  0.703387  0.980585
6 -0.641566  0.870087  1.121847  1.100372

In [26]:
df[7:]

          0         1         2         3
7  1.130579  0.948951  1.059073  1.963855
8  0.849526  0.480351  0.186353  0.134406
9 -0.088124  1.163911  1.187138 -1.008550

In [28]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

[          0         1         2         3
 0 -0.091306  0.885377  0.745150  0.359158
 1  0.277991  0.583457  0.681127 -1.155734
 2 -0.871919  0.838060 -0.020036 -0.784737,
           0         1         2         3
 3 -0.282330 -1.494801  0.028990 -1.265401
 4 -0.458094  0.020163  0.201545 -0.799512
 5  0.235027 -0.202665  0.703387  0.980585
 6 -0.641566  0.870087  1.121847  1.100372,
           0         1         2         3
 7  1.130579  0.948951  1.059073  1.963855
 8  0.849526  0.480351  0.186353  0.134406
 9 -0.088124  1.163911  1.187138 -1.008550]

In [29]:
print(pd.concat(pieces))

          0         1         2         3
0 -0.091306  0.885377  0.745150  0.359158
1  0.277991  0.583457  0.681127 -1.155734
2 -0.871919  0.838060 -0.020036 -0.784737
3 -0.282330 -1.494801  0.028990 -1.265401
4 -0.458094  0.020163  0.201545 -0.799512
5  0.235027 -0.202665  0.703387  0.980585
6 -0.641566  0.870087  1.121847  1.100372
7  1.130579  0.948951  1.059073  1.963855
8  0.849526  0.480351  0.186353  0.134406
9 -0.088124  1.163911  1.187138 -1.008550

In [ ]:
left = pd.DataFrame({'key':['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key':['foo', 'foo'], 'rval': [4, 5]})