<a href="https://colab.research.google.com/github/sonnyboy-kor/sonny/blob/main/21507_16%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']
type(names)

list

In [2]:
names[1]

'폴리'

In [3]:
type(names[0])

str

In [4]:
names.append('부산기계')

In [5]:
names

['정밀', '폴리', '산설', '메카', '로봇', '전기', '부산기계']

In [6]:
for name in names:
  if len(name) > 2:
    print(name,"공업고등학교")     # 빈칸 만드는 것
    print(name + '공업고등학교')   # 빈칸 없이 이어서 출력

부산기계 공업고등학교
부산기계공업고등학교

In [7]:
# 주석

In [8]:
print(20**3) 

print('Hello, World') # 문자열출력

8000
Hello, World

In [9]:
school = '부산기계공고'  # 문자열 변수 선언 및 초기화
print(school)  # 변수를 이용하여 print함수 사용

a = 1024 # 변수의 이름은 사용자가 지정
print(a)
  
name = "전기과"
print(name+' 화이팅!!!')     # 일반적인 출력
print(f'{name} 화이팅!!!')   # f 포맷팅을 이용한 출력

print(2020, f'{name} 화이팅!!!') # 다양한 출력형태

부산기계공고
1024
전기과 화이팅!!!
전기과 화이팅!!!
2020 전기과 화이팅!!!

In [10]:
# 입력 : input() 함수로 문자열 값 입력받기

name = input()

print(name+'님! 안녕하세요!')
print(name, '님! 안녕하세요!')
print(f'{name}님! 안녕하세요!')

부기공
부기공님! 안녕하세요!
부기공 님! 안녕하세요!
부기공님! 안녕하세요!

In [11]:
name = input('이름을 입력해주세요 : ')

print(name+'님! 안녕하세요!')
print(name, '님! 안녕하세요!')
print(f'{name}님! 안녕하세요!')

이름을 입력해주세요 : 김나윤
김나윤님! 안녕하세요!
김나윤 님! 안녕하세요!
김나윤님! 안녕하세요!

In [13]:
# 입력 : 숫자 입력 경우

age = input('나이를 입력해 주세요 : ')

print(age-1) # 숫자 연산 후 출력 : 만 나이 계산 

# 에러 발생 : input()함수로는 문자열만 받음.
# unsupported operand type(s) for -: 'str' and 'int'

나이를 입력해 주세요 : 5

TypeError: ignored

In [17]:
age = input('나이를 입력해 주세요 : ')

print(int(age)-1)

나이를 입력해 주세요 : 8
7

In [18]:
type(age)

str

In [19]:
age = int(input('나이를 입력해주세요 : '))
print(age -1)

나이를 입력해주세요 : 8
7

In [20]:
type(age)

int

In [21]:
# 종합

name = input('이름을 입력해 주세요 : ')
age = int(input('나이를 입력해 주세요 : '))

print(f'안녕하세요! {name} 님! 저는 처음에 {str(age-4)}살인 줄 알았어요!!')

이름을 입력해 주세요 : 김민성
나이를 입력해 주세요 : 17
안녕하세요! 김민성 님! 저는 처음에 13살인 줄 알았어요!!

In [22]:
# 산술 연산자

print(10 * 2)   # * : 곱셈 연산자
print(10 ** 2)  # ** : 거듭 제곱 연산자
print(10 % 2)   # % : 나머지 연산자
print(7 / 2)   # / : 실수 나눗셈
print(7 // 2)  # // : 정수 나눗셈 (몫만 나옴)

20
100
0
3.5
3

In [23]:
# 비교 연산자 (참:True, 거짓:False)

print(10 >= 2)
print(10 <= 2)
print(10 == 2)   # == : 같다
print(10 != 2)   # != : 같지 않다
print(10 % 2 == 1)

True
False
False
True
False

In [24]:
True

True

In [25]:
TRUE

NameError: ignored

In [26]:
# 논리 연산자 (참:True, 거짓:False)
# and(둘 다 참일때 True), or(둘 중 하나만 참일 때 True), not(반전) 연산자

# and 연산자
print(1==1 and 2 != 1) # True and True => True
print(10 % 2 != 0 and 1 + 1 > 0 ) # True and False => False
print()

# or 연산자
print(10 < 5 or 10 == 5) # False or False => False
print(10 % 2 != 0 or 1 + 1 > 0) # False or True => True
print()

# not 연산자
print(not 10 > 5)   # not True => False
print(not 10 == 5)  # not False => True
print(not 0)        # 0은 False에 해당 : not False => True
print(not 10)       # 0을 제외한 수는 True에 해당 : not True => False

True
False

False
True

False
True
True
False

In [32]:
# 함수 불러오기 시험범위 x

In [33]:
1) for 반복문
for A in B:       # 맨 뒤에 콜론 기호(:) 잊지 말기
    반복할 문장1    # 들여쓰기(문단구분)가 되어 있음
    ...
    반복할 문장n    # 보통 공백 문자([space]키) 4개로 사용
B는 데이터 세트를 의미
for 반복문은 주어진 데이터 세트를 순회하거나 원하는 횟수만큼 반복하고 싶을 때 사용
즉, 데이터 세트에서 데이터를 하나씩 꺼내 와서 A에 임시로 저장

SyntaxError: ignored

In [34]:
# for 반복문 - 1

name = '부산기계공고'

for i in name:
  print(i)

print()

for i in name:
  print(i, end='')

부
산
기
계
공
고

부산기계공고

In [35]:
type(name)

str

In [36]:
name[0]

'부'

In [37]:
type(name[0])

str

In [38]:
# for 반복문 - 2

names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

for name in names:
  print(name)

for name in names:
  print(name, end=' ')

정밀
폴리
산설
메카
로봇
전기
정밀 폴리 산설 메카 로봇 전기

In [39]:
# for 반복문 - 3

for i in [0, 1, 2, 3]:
  print(i ** 2)

for i in [0, 1, 2, 3]:
  print(i ** 2, end=' ')

0
1
4
9
0 1 4 9

In [40]:
# for 반복문 - 4

for i in range(10): # range(10) : 0 이상 10 미만의 범위를 갖는 정수 즉, 0~9까지 정수
  print(i ** 2)

for i in range(10):
  print(i ** 2, end=' ')

0
1
4
9
16
25
36
49
64
81
0 1 4 9 16 25 36 49 64 81

In [41]:
# for 반복문 - 5

for i in range(1, 10): # range(1, 10) : 1 이상 10 미만의 범위를 갖는 정수 즉, 1~9까지 정수
  print(i ** 2)

for i in range(1, 10, 2): # range(1, 10, 2) : 1 이상 10 미만의 범위를 갖는 정수 중 2씩 간격을 두고 생성 즉, 1, 3, 5, 7, 9
  print(i ** 2, end=' ')

1
4
9
16
25
36
49
64
81
1 9 25 49 81

2) if 조건문
if 조건:       # 맨 뒤에 콜론 기호(:) 잊지 말기
    조건이 참일 경우 실행할 문장1    # 들여쓰기(문단구분)가 되어 있음
    ...
    조건이 참일 경우 실행할 문장n    # 보통 공백 문자([space]키) 4개로 사용
if 조건문은 주어진 조건이 True(참)인 경우에만 명령을 선택적으로 실행하고 싶을 때 사용

In [44]:
# 기본 예

if 10 > 0:
  print('안녕하세요')
print('반가워요')

안녕하세요
반가워요

In [45]:
if 10 != 0 and 5 % 2 == 1:
  print('안녕하세요')

안녕하세요

In [47]:
# 비밀번호 확인

passwd = int(input('비밀번호 4자리를 입력하세요 : '))

if passwd == 2020:
  print('비밀번호가 일치합니다.')

비밀번호 4자리를 입력하세요 : 1234

In [48]:
# 비밀번호 해킹 프로그램 (for문과 if문의 융합)

for i in range(1,10000):
  if i == 2020:
    print('비밀번호가 일치합니다.')
    print(f'비밀번호는 {i}입니다.')

비밀번호가 일치합니다.
비밀번호는 2020입니다.

In [50]:
# else 문 추가

passwd = int(input('비밀번호 4자리를 입력하세요 : '))

if passwd == 2020:
  print('비밀번호가 일치합니다.')
else :
  print('비밀번호가 일치하지 않습니다.')

비밀번호 4자리를 입력하세요 : 2200
비밀번호가 일치하지 않습니다.

In [51]:
# 심리게임 프로그램

print('[ 소름끼치도록 놀라운 심리테스트 ]')

menu = input('당신이 좋아하는 음식을 입력해주세요 : ')

if menu == '짜장면':
  print(f'당신은 {menu}을 좋아하는 사람입니다.')
elif menu == '아이스크림':
  print(f'당신은 {menu}을 좋아하는 사람입니다.')
elif menu == '사탕':
  print(f'당신은 {menu}을 좋아하는 사람입니다.')
else :
  print(f'당신은 짜장면, 아이스크림, 사탕을 좋아하지 않는 사람입니다.')

[ 소름끼치도록 놀라운 심리테스트 ]
당신이 좋아하는 음식을 입력해주세요 : 야키소바
당신은 짜장면, 아이스크림, 사탕을 좋아하지 않는 사람입니다.

In [52]:
# 리스트에 저장된 위치(index)로 값에 접근하기 : indexing

names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

for i in [0, 1, 2, 3, 4, 5]:
  print(names[i], end=' ')

print()

for i in range(6):
  print(names[i], end=' ')

정밀 폴리 산설 메카 로봇 전기
정밀 폴리 산설 메카 로봇 전기

In [53]:
# 리스트에 저장된 위치(index)로 값에 접근하기 : indexing(인덱싱)

names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']
         # 0       1       2       3        4       5
         # -6     -5      -4      -3       -2       -1

print(names[0])   # 리스트 원소 중 제일 첫번째 요소
print(names[-1])  # 리스트 원소 중 제일 마지막 요소(뒤에서 첫번째 요소)

정밀
전기

In [54]:
  # 리스트에 저장된 위치로 데이터의 일부 자르기 : slicing(슬라이싱)

names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

print(names[0:2])
print(names[1:3])
print(names[1:])
print(names[:])

['정밀', '폴리']
['폴리', '산설']
['폴리', '산설', '메카', '로봇', '전기']
['정밀', '폴리', '산설', '메카', '로봇', '전기']

In [55]:
'''
0 : 2 => 0 이상 2미만 : 0,1
1:5=> 1이상 5미만
'''

'\n0 : 2 => 0 이상 2미만 : 0,1\n1:5=> 1이상 5미만\n'

In [56]:
# 리스트에 값 추가하기 : append() 함수 사용

names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

names.append('부기공')
names.insert(0,'화이팅!')

print(names)

['화이팅!', '정밀', '폴리', '산설', '메카', '로봇', '전기', '부기공']

In [57]:
# 리스트 길이 구하기 : len() 함수 사용

names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

print(len(names))   # 리스트의 길이 출력하기
print(len('문자열의 크기를 구해봅시다.')) # 문자열의 길이 출력하기

6
15

In [58]:
# 종합

names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

names.append('부산기계')

for name in names:
  if len(name) > 2:
    print(f'{name}공업고등학교')

부산기계공업고등학교

In [59]:
# 표준출력1 - 기본적으로 개행('\n')

print('Hello World')
print('Busan')
print('Mechanical')
print('High School')

Hello World
Busan
Mechanical
High School

In [60]:
# 표준출력2 - end 속성

print('Hello', end = ' ') # end 속성
print('World')

Hello World

In [61]:
# 표준출력3 - 문자열 연산

print('Hello', 'World')   # 각 문자열 한칸 띄우기
print('Hello' + 'World')  # 문자열 합치기

Hello World
HelloWorld

In [62]:
# 이스케이프 시퀀스(Escape Sequence)
# \와 특정문자를 결합하여 문자를 표시해주는 문자

print('Hello\'') # \' : 작은 따옴표 표시
print('Hello\"') # \" : 큰 따옴표 표시
print('Hello\nWorld') # \n : 개행(엔터)

Hello'
Hello"
Hello
World

In [64]:
# 표준입력
x = input() # 키보드를 통한 문자열 입력하고 그 값을 x 변수에 저장
print(x) # 입력된 x 변수값 출력

1
1

In [66]:
# 두 값을 입력받아 더한 결과를 출력하기

x = input('x 입력 : ')
y = input('y 입력 : ')

print(x, '+', y, '=', x+y)
# 잘못된 출력 => 이유 입력되는 숫자도 문자열임.

x 입력 : 우와와와와와오
y 입력 : 오오오오오오오옹
우와와와와와오 + 오오오오오오오옹 = 우와와와와와오오오오오오오오옹

In [67]:
# 두 값을 입력받아 더한 결과를 출력하기 - 해결

x = input('x 입력 : ')
y = input('y 입력 : ')

print(x, '+', y, '=', int(x)+int(y))

x 입력 : 1
y 입력 : 4
1 + 4 = 5

In [69]:
# f 스트링 출력

x = input('x 입력 : ')
y = input('y 입력 : ')

print(f'{x} + {y} = {int(x)+int(y)}')

x 입력 : 1
y 입력 : 65
1 + 65 = 66

In [70]:
# 정수 및 실수 입력
# 정수 : int(input('메시지'))
# 실수 : float(input('메시지'))
# 형변환 : 정수형 int(), 실수형 float() 함수 사용

x = int(input('x 입력 : '))
y = float(input('y 입력 : '))

print(f'{x} + {y} = {x+y}')

x 입력 : 8
y 입력 : 6
8 + 6.0 = 14.0

In [71]:
# 두 정수를 입력 받아서 사칙연산을 수행하는 프로그램

# 입력부
x = int(input('첫 번째 정수 입력 : '))
y = int(input('두 번째 정수 입력 : '))

# 제어부(연산작업) + 출력부
print(x, '+', y, '=', (x + y))
print(x, '-', y, '=', (x - y))
print(x, 'x', y, '=', (x * y))
print(x, '/', y, '=', (x / y))

첫 번째 정수 입력 : 5
두 번째 정수 입력 : 8
5 + 8 = 13
5 - 8 = -3
5 x 8 = 40
5 / 8 = 0.625

In [72]:
# 나눈 몫과 나머지 연산을 수행하는 프로그램

# 입력부
x = int(input('첫 번째 정수 입력 : '))
y = int(input('두 번째 정수 입력 : '))

# 제어부(연산작업) + 출력부
print(x, '+', y, '=', (x + y))
print(x, '-', y, '=', (x - y))
print(x, 'x', y, '=', (x * y))
print(x, '/', y, '=', (x / y))
print(x, '//', y, '=', (x // y)) # 몫
print(x, '%', y, '=', (x % y)) # 나머지

# 구분선
print('*'*50)
print(f'{x} + {y} = {x+y}')

# f 스트링 사용한 출력부
print(f'{x} + {y} = {x + y}')
print(f'{x} - {y} = {x - y}')
print(f'{x} x {y} = {x * y}')
print(f'{x} / {y} = {x / y}')
print(f'{x} // {y} (나눈 몫) = {x // y}')
print(f'{x} % {y} (나눈 나머지) = {x % y}')

첫 번째 정수 입력 : 10
두 번째 정수 입력 : 2
10 + 2 = 12
10 - 2 = 8
10 x 2 = 20
10 / 2 = 5.0
10 // 2 = 5
10 % 2 = 0
**************************************************
10 + 2 = 12
10 + 2 = 12
10 - 2 = 8
10 x 2 = 20
10 / 2 = 5.0
10 // 2 (나눈 몫) = 5
10 % 2 (나눈 나머지) = 0

In [74]:
# BMI(Body Mass Index) 지수 구하기

# 입력부
weight = int(input('weight(kg) : '))
height = int(input('height(cm) : '))

# 제어부
BMI = weight / ( height/100)**2

# 출력부
print(f'BMI : {BMI:4.3f}')

weight(kg) : 52
height(cm) : 85
BMI : 71.972

In [75]:
# 환율 계산기

# 입력부( 1000\ = 0.84$, 1$ = 1187\ )
print('ExchangeRate Calc : $ - \ ')
ExchangeRate = float(input(' 1$ ExchangeRate : '))
KRW = int(input('KRW : '))

# 제어부 : 환율계산 => 0.84$ / 1000\
USD = ExchangeRate / 1000 * KRW

# 출력부
print(f'USD : {USD:.1f} $')

ExchangeRate Calc : $ - \
 1$ ExchangeRate : 5
KRW : 20000
USD : 100.0 $

In [76]:
# 섭씨(Celsius) <=> 화씨(Fahrenheit) 변환
# F = C * 1.8 + 32 / C = (F-32) / 1.8

# 입력부
celsius = float(input('Celsius : '))

# 제어부 : 변환
fahrenheit = (celsius * 1.8) + 32

# 출력부
print(f'Fahrenheit : {fahrenheit}')

Celsius : 456
Fahrenheit : 852.8000000000001

2. 문자열 연산
len() : 문자열 길이 구하기
count() : 문자의 개수 구하기
find() : 문자가 처음 나오는 위치 반환, 없으면 -1
index() : 문자열이 처음 나오는 위치 반환, 없으면 오류
join() : 문자열 사이에 문자 삽입, 예:'삽입문자'.join(문자열)
upper() : 소문자를 대문자로 변환
lower() : 대문자를 소문자로 변환
replace() : 문자열 바꾸기, 예:replace(원본, 변환 문자)
split() : 문자열 나누기 - 인수가 없으면 공백(스페이스, 탭, 엔터 등 구분자)을 기준

In [77]:
# len() : 문자열 길이

x = 'Hello Python'

len(x)
print(f'len(x) : {len(x)}')

len(x) : 12

In [78]:
# count() : 문자 갯수

x = 'Hello Python'

x.count('o')
print(f"x.count('o') : {x.count('o')}") # 안쪽에 작은 따옴표가 있기에 바깥쪽에는 큰 따옴표가 있어야 함.

x.count('o') : 2

In [79]:
# find() : 문자 첫 위치 반환

x = 'Hello Python'

x.find("H")
print(f'x.find("H") : {x.find("H")}')

x.find("H") : 0

In [80]:
# index() : 문자열의 첫 위치 반환

x = 'Hello Python'

x.index("Python")
print(f'x.index("Python") : {x.index("Python")}')

x.index("Python") : 6

In [81]:
# join() : 문자열 사이 문자 삽입

x = 'Hello Python'

z = '-'.join(x)
print(z)

H-e-l-l-o- -P-y-t-h-o-n

In [84]:
# split() : 문자열 나누기

x = 'Hello Python'

y = '-'.join(x)
print(y)

y.split("-")
print(f'y.split("-") : {y.split("-")}')

H-e-l-l-o- -P-y-t-h-o-n
y.split("-") : ['H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [82]:
# upper() : 소문자를 대문자로

x = 'Hello Python'

x.upper()
print(f'x.upper() : {x.upper()}')

x.upper() : HELLO PYTHON

In [83]:
# lower() : 대문자를 소문자로

x = 'Hello Python'

x.lower()
print(f'x.lower() : {x.lower()}')

x.lower() : hello python

In [85]:
# replace() : 문자열 바꾸기

x = 'Hello Python'

x.replace("P", "★")
print(f'x.replace("P", "★") : {x.replace("P", "★")}')

x.replace("P", "★") : Hello ★ython

In [86]:
# 코로나 어원

corona = '''
코로나(corona)는 라틴말로 왕관을 뜻하며 통상 태양을 둘러싼 외곽의 빛(광환)을 지칭한다.
코로나 바이러스라는 이름은 전자현미경으로 이 바이러스를 관찰했을 때 마치 코로나와 유사한 모양을 띠어 붙여진 이름이다.
이번에 중국의 우환에서 시작된 코로나 바이러스는 2019년에 발견된 새로운 코로나 바이러스라는 뜻으로 2019-nCov로 붙여졌다.
nCov는 novel(새로운) Cov(코로나 바이러스)라는 뜻이다.
'''
print('-'*50)
sentence = corona.count('.')
print(f'{sentence} 개의 문장으로 이루어짐')
print(corona.replace('\n','').split('.'))

print()

print('-'*50)
str = input('찾으려는 단어를 입력하시요 : ')
cnt = corona.count(str)
print(f"'{str}'(은/는) {cnt} 번 언급됨")

--------------------------------------------------
4 개의 문장으로 이루어짐
['코로나(corona)는 라틴말로 왕관을 뜻하며 통상 태양을 둘러싼 외곽의 빛(광환)을 지칭한다', '코로나 바이러스라는 이름은 전자현미경으로 이 바이러스를 관찰했을 때 마치 코로나와 유사한 모양을 띠어 붙여진 이름이다', '이번에 중국의 우환에서 시작된 코로나 바이러스는 2019년에 발견된 새로운 코로나 바이러스라는 뜻으로 2019-nCov로 붙여졌다', 'nCov는 novel(새로운) Cov(코로나 바이러스)라는 뜻이다', '']

--------------------------------------------------
찾으려는 단어를 입력하시요 : 코로나
'코로나'(은/는) 6 번 언급됨