<a href="https://colab.research.google.com/github/sonnyboy-kor/sonny/blob/main/21507_10%EC%A3%BC%EC%B0%A8%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# 1. Series 생성

s = pd.Series([1,3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
type(s)

pandas.core.series.Series

In [5]:
dates = pd.date_range('20210507', periods=6)
dates

DatetimeIndex(['2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('국영수물')) 
df

                   국         영         수         물
2021-05-07 -0.940919  2.149272 -0.710055 -0.389837
2021-05-08 -0.088217 -0.658394 -1.231500 -0.449028
2021-05-09  0.263766  0.717174 -0.163778 -1.347560
2021-05-10 -0.111035  0.797363 -1.105202 -0.950246
2021-05-11  1.915645 -0.090139 -1.124516 -0.714608
2021-05-12 -1.340913  0.588277  0.613365 -0.239833

In [13]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD')) 
df

                   A         B         C         D
2021-05-07  1.484617 -1.354082  1.049240  0.020140
2021-05-08  0.558277 -0.763700 -1.239378 -0.875892
2021-05-09 -0.131735 -0.512637  0.343816 -0.100666
2021-05-10 -1.850576  1.134397 -1.735520  0.727671
2021-05-11 -0.092280  0.467278 -0.254910 -0.988500
2021-05-12 -0.040614  0.020035 -0.840814 -0.331106

In [22]:
df2 = pd.DataFrame(
    {
        'A' : 1.,
        'B' : pd.Timestamp('20210507'),
        'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
        'D' : np.array([3] * 4, dtype='int32'),
        'E' : pd.Categorical(["test", 'train', "test", "train"]),
        'F': 'foo'
    }
)
df2

     A          B    C  D      E    F
0  1.0 2021-05-07  1.0  3   test  foo
1  1.0 2021-05-07  1.0  3  train  foo
2  1.0 2021-05-07  1.0  3   test  foo
3  1.0 2021-05-07  1.0  3  train  foo

In [17]:
df

                   A         B         C         D
2021-05-07  1.484617 -1.354082  1.049240  0.020140
2021-05-08  0.558277 -0.763700 -1.239378 -0.875892
2021-05-09 -0.131735 -0.512637  0.343816 -0.100666
2021-05-10 -1.850576  1.134397 -1.735520  0.727671
2021-05-11 -0.092280  0.467278 -0.254910 -0.988500
2021-05-12 -0.040614  0.020035 -0.840814 -0.331106

In [18]:
df.head()

                   A         B         C         D
2021-05-07  1.484617 -1.354082  1.049240  0.020140
2021-05-08  0.558277 -0.763700 -1.239378 -0.875892
2021-05-09 -0.131735 -0.512637  0.343816 -0.100666
2021-05-10 -1.850576  1.134397 -1.735520  0.727671
2021-05-11 -0.092280  0.467278 -0.254910 -0.988500

In [20]:
df.tail()

                   A         B         C         D
2021-05-08  0.558277 -0.763700 -1.239378 -0.875892
2021-05-09 -0.131735 -0.512637  0.343816 -0.100666
2021-05-10 -1.850576  1.134397 -1.735520  0.727671
2021-05-11 -0.092280  0.467278 -0.254910 -0.988500
2021-05-12 -0.040614  0.020035 -0.840814 -0.331106

In [23]:
df

                   A         B         C         D
2021-05-07  1.484617 -1.354082  1.049240  0.020140
2021-05-08  0.558277 -0.763700 -1.239378 -0.875892
2021-05-09 -0.131735 -0.512637  0.343816 -0.100666
2021-05-10 -1.850576  1.134397 -1.735520  0.727671
2021-05-11 -0.092280  0.467278 -0.254910 -0.988500
2021-05-12 -0.040614  0.020035 -0.840814 -0.331106

In [24]:
df.head(1)

                   A         B        C        D
2021-05-07  1.484617 -1.354082  1.04924  0.02014

In [25]:
df.tail(2)

                   A         B         C         D
2021-05-11 -0.092280  0.467278 -0.254910 -0.988500
2021-05-12 -0.040614  0.020035 -0.840814 -0.331106

In [26]:
df

                   A         B         C         D
2021-05-07  1.484617 -1.354082  1.049240  0.020140
2021-05-08  0.558277 -0.763700 -1.239378 -0.875892
2021-05-09 -0.131735 -0.512637  0.343816 -0.100666
2021-05-10 -1.850576  1.134397 -1.735520  0.727671
2021-05-11 -0.092280  0.467278 -0.254910 -0.988500
2021-05-12 -0.040614  0.020035 -0.840814 -0.331106

In [27]:
df.index

DatetimeIndex(['2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [28]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [29]:
df.values

array([[ 1.48461681, -1.35408207,  1.04923961,  0.02014006],
       [ 0.55827667, -0.76369966, -1.23937802, -0.87589233],
       [-0.13173464, -0.51263684,  0.34381599, -0.10066648],
       [-1.85057597,  1.13439708, -1.7355197 ,  0.72767104],
       [-0.09228007,  0.46727757, -0.25490973, -0.98850001],
       [-0.04061365,  0.02003541, -0.84081383, -0.33110619]])

In [30]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.012052 -0.168118 -0.446261 -0.258059
std    1.092432  0.896169  1.033852  0.631574
min   -1.850576 -1.354082 -1.735520 -0.988500
25%   -0.121871 -0.700934 -1.139737 -0.739696
50%   -0.066447 -0.246301 -0.547862 -0.215886
75%    0.408554  0.355467  0.194135 -0.010062
max    1.484617  1.134397  1.049240  0.727671

In [31]:
df

                   A         B         C         D
2021-05-07  1.484617 -1.354082  1.049240  0.020140
2021-05-08  0.558277 -0.763700 -1.239378 -0.875892
2021-05-09 -0.131735 -0.512637  0.343816 -0.100666
2021-05-10 -1.850576  1.134397 -1.735520  0.727671
2021-05-11 -0.092280  0.467278 -0.254910 -0.988500
2021-05-12 -0.040614  0.020035 -0.840814 -0.331106

In [34]:
df.T

   2021-05-07  2021-05-08  2021-05-09  2021-05-10  2021-05-11  2021-05-12
A    1.484617    0.558277   -0.131735   -1.850576   -0.092280   -0.040614
B   -1.354082   -0.763700   -0.512637    1.134397    0.467278    0.020035
C    1.049240   -1.239378    0.343816   -1.735520   -0.254910   -0.840814
D    0.020140   -0.875892   -0.100666    0.727671   -0.988500   -0.331106

In [44]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2021-05-07  0.020140  1.049240 -1.354082  1.484617
2021-05-08 -0.875892 -1.239378 -0.763700  0.558277
2021-05-09 -0.100666  0.343816 -0.512637 -0.131735
2021-05-10  0.727671 -1.735520  1.134397 -1.850576
2021-05-11 -0.988500 -0.254910  0.467278 -0.092280
2021-05-12 -0.331106 -0.840814  0.020035 -0.040614

In [45]:
df.sort_index(axis=0 , ascending=False)

                   A         B         C         D
2021-05-12 -0.040614  0.020035 -0.840814 -0.331106
2021-05-11 -0.092280  0.467278 -0.254910 -0.988500
2021-05-10 -1.850576  1.134397 -1.735520  0.727671
2021-05-09 -0.131735 -0.512637  0.343816 -0.100666
2021-05-08  0.558277 -0.763700 -1.239378 -0.875892
2021-05-07  1.484617 -1.354082  1.049240  0.020140

In [46]:
df

                   A         B         C         D
2021-05-07  1.484617 -1.354082  1.049240  0.020140
2021-05-08  0.558277 -0.763700 -1.239378 -0.875892
2021-05-09 -0.131735 -0.512637  0.343816 -0.100666
2021-05-10 -1.850576  1.134397 -1.735520  0.727671
2021-05-11 -0.092280  0.467278 -0.254910 -0.988500
2021-05-12 -0.040614  0.020035 -0.840814 -0.331106

In [47]:
df.sort_values(by='B')

                   A         B         C         D
2021-05-07  1.484617 -1.354082  1.049240  0.020140
2021-05-08  0.558277 -0.763700 -1.239378 -0.875892
2021-05-09 -0.131735 -0.512637  0.343816 -0.100666
2021-05-12 -0.040614  0.020035 -0.840814 -0.331106
2021-05-11 -0.092280  0.467278 -0.254910 -0.988500
2021-05-10 -1.850576  1.134397 -1.735520  0.727671

In [48]:
df['A']

2021-05-07    1.484617
2021-05-08    0.558277
2021-05-09   -0.131735
2021-05-10   -1.850576
2021-05-11   -0.092280
2021-05-12   -0.040614
Freq: D, Name: A, dtype: float64

In [49]:
df['B']

2021-05-07   -1.354082
2021-05-08   -0.763700
2021-05-09   -0.512637
2021-05-10    1.134397
2021-05-11    0.467278
2021-05-12    0.020035
Freq: D, Name: B, dtype: float64

In [55]:
df[['A', 'D']]
df[['B', 'C', 'D']]

                   B         C         D
2021-05-07 -1.354082  1.049240  0.020140
2021-05-08 -0.763700 -1.239378 -0.875892
2021-05-09 -0.512637  0.343816 -0.100666
2021-05-10  1.134397 -1.735520  0.727671
2021-05-11  0.467278 -0.254910 -0.988500
2021-05-12  0.020035 -0.840814 -0.331106

In [63]:
df[0:3],
print(df["20210507" :"20210509" ])
print(df[["A", "B", "C"]])

                   A         B         C         D
2021-05-07  1.484617 -1.354082  1.049240  0.020140
2021-05-08  0.558277 -0.763700 -1.239378 -0.875892
2021-05-09 -0.131735 -0.512637  0.343816 -0.100666
                   A         B         C
2021-05-07  1.484617 -1.354082  1.049240
2021-05-08  0.558277 -0.763700 -1.239378
2021-05-09 -0.131735 -0.512637  0.343816
2021-05-10 -1.850576  1.134397 -1.735520
2021-05-11 -0.092280  0.467278 -0.254910
2021-05-12 -0.040614  0.020035 -0.840814

In [64]:
df

                   A         B         C         D
2021-05-07  1.484617 -1.354082  1.049240  0.020140
2021-05-08  0.558277 -0.763700 -1.239378 -0.875892
2021-05-09 -0.131735 -0.512637  0.343816 -0.100666
2021-05-10 -1.850576  1.134397 -1.735520  0.727671
2021-05-11 -0.092280  0.467278 -0.254910 -0.988500
2021-05-12 -0.040614  0.020035 -0.840814 -0.331106

In [68]:
df.loc[:,['A']]

                   A
2021-05-07  1.484617
2021-05-08  0.558277
2021-05-09 -0.131735
2021-05-10 -1.850576
2021-05-11 -0.092280
2021-05-12 -0.040614

In [69]:
df.loc["20210507" : "20210508", ["A"]]

                   A
2021-05-07  1.484617
2021-05-08  0.558277

In [77]:
df.iloc[[1,3],[0 ,3]]

                   A         D
2021-05-08  0.558277 -0.875892
2021-05-10 -1.850576  0.727671

In [78]:
df.iloc[0:3,1:3]

                   B         C
2021-05-07 -1.354082  1.049240
2021-05-08 -0.763700 -1.239378
2021-05-09 -0.512637  0.343816

In [80]:
df.iloc[[0,3], [1.3]]

                   B
2021-05-07 -1.354082
2021-05-10  1.134397

In [82]:
df.iloc[0,1]

-1.3540820737297745

In [83]:
df

                   A         B         C         D
2021-05-07  1.484617 -1.354082  1.049240  0.020140
2021-05-08  0.558277 -0.763700 -1.239378 -0.875892
2021-05-09 -0.131735 -0.512637  0.343816 -0.100666
2021-05-10 -1.850576  1.134397 -1.735520  0.727671
2021-05-11 -0.092280  0.467278 -0.254910 -0.988500
2021-05-12 -0.040614  0.020035 -0.840814 -0.331106

In [84]:
df.iloc[0,0]

1.4846168136230125

In [85]:
df

                   A         B         C         D
2021-05-07  1.484617 -1.354082  1.049240  0.020140
2021-05-08  0.558277 -0.763700 -1.239378 -0.875892
2021-05-09 -0.131735 -0.512637  0.343816 -0.100666
2021-05-10 -1.850576  1.134397 -1.735520  0.727671
2021-05-11 -0.092280  0.467278 -0.254910 -0.988500
2021-05-12 -0.040614  0.020035 -0.840814 -0.331106

In [89]:
df.A

2021-05-07    1.484617
2021-05-08    0.558277
2021-05-09   -0.131735
2021-05-10   -1.850576
2021-05-11   -0.092280
2021-05-12   -0.040614
Freq: D, Name: A, dtype: float64

In [90]:
df.A > 0

2021-05-07     True
2021-05-08     True
2021-05-09    False
2021-05-10    False
2021-05-11    False
2021-05-12    False
Freq: D, Name: A, dtype: bool

In [92]:
df[df.A > 0]

                   A         B         C         D
2021-05-07  1.484617 -1.354082  1.049240  0.020140
2021-05-08  0.558277 -0.763700 -1.239378 -0.875892

In [93]:
df[ df.A > 0.5]

                   A         B         C         D
2021-05-07  1.484617 -1.354082  1.049240  0.020140
2021-05-08  0.558277 -0.763700 -1.239378 -0.875892

In [94]:
df > 0

                A      B      C      D
2021-05-07   True  False   True   True
2021-05-08   True  False  False  False
2021-05-09  False  False   True  False
2021-05-10  False   True  False   True
2021-05-11  False   True  False  False
2021-05-12  False   True  False  False

In [95]:
df[df>0]

                   A         B         C         D
2021-05-07  1.484617       NaN  1.049240  0.020140
2021-05-08  0.558277       NaN       NaN       NaN
2021-05-09       NaN       NaN  0.343816       NaN
2021-05-10       NaN  1.134397       NaN  0.727671
2021-05-11       NaN  0.467278       NaN       NaN
2021-05-12       NaN  0.020035       NaN       NaN

In [96]:
df2 = df.copy()

In [99]:
df

                   A         B         C         D
2021-05-07  1.484617 -1.354082  1.049240  0.020140
2021-05-08  0.558277 -0.763700 -1.239378 -0.875892
2021-05-09 -0.131735 -0.512637  0.343816 -0.100666
2021-05-10 -1.850576  1.134397 -1.735520  0.727671
2021-05-11 -0.092280  0.467278 -0.254910 -0.988500
2021-05-12 -0.040614  0.020035 -0.840814 -0.331106

In [105]:
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']

In [106]:
df2['E']

2021-05-07      one
2021-05-08      one
2021-05-09      two
2021-05-10    three
2021-05-11     four
2021-05-12    three
Freq: D, Name: E, dtype: object

In [107]:
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']

In [108]:
df2

                   A         B         C         D      E
2021-05-07  1.484617 -1.354082  1.049240  0.020140    one
2021-05-08  0.558277 -0.763700 -1.239378 -0.875892    one
2021-05-09 -0.131735 -0.512637  0.343816 -0.100666    two
2021-05-10 -1.850576  1.134397 -1.735520  0.727671  three
2021-05-11 -0.092280  0.467278 -0.254910 -0.988500   four
2021-05-12 -0.040614  0.020035 -0.840814 -0.331106  three

In [110]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
print(df2);print()
print(df2[df2['E'].isin(['two','four'])]);print()

                   A         B         C         D      E
2021-05-07  1.484617 -1.354082  1.049240  0.020140    one
2021-05-08  0.558277 -0.763700 -1.239378 -0.875892    one
2021-05-09 -0.131735 -0.512637  0.343816 -0.100666    two
2021-05-10 -1.850576  1.134397 -1.735520  0.727671  three
2021-05-11 -0.092280  0.467278 -0.254910 -0.988500   four
2021-05-12 -0.040614  0.020035 -0.840814 -0.331106  three

                   A         B         C         D     E
2021-05-09 -0.131735 -0.512637  0.343816 -0.100666   two
2021-05-11 -0.092280  0.467278 -0.254910 -0.988500  four

In [111]:
df

                   A         B         C         D      E
2021-05-07  1.484617 -1.354082  1.049240  0.020140    one
2021-05-08  0.558277 -0.763700 -1.239378 -0.875892    one
2021-05-09 -0.131735 -0.512637  0.343816 -0.100666    two
2021-05-10 -1.850576  1.134397 -1.735520  0.727671  three
2021-05-11 -0.092280  0.467278 -0.254910 -0.988500   four
2021-05-12 -0.040614  0.020035 -0.840814 -0.331106  three

In [112]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20210507', periods=6))

In [113]:
df['F'] = s1

In [114]:
df

                   A         B         C         D      E  F
2021-05-07  1.484617 -1.354082  1.049240  0.020140    one  1
2021-05-08  0.558277 -0.763700 -1.239378 -0.875892    one  2
2021-05-09 -0.131735 -0.512637  0.343816 -0.100666    two  3
2021-05-10 -1.850576  1.134397 -1.735520  0.727671  three  4
2021-05-11 -0.092280  0.467278 -0.254910 -0.988500   four  5
2021-05-12 -0.040614  0.020035 -0.840814 -0.331106  three  6

In [116]:
df[df>0] = -df

TypeError: ignored